/* CSS BY Christina Carrasquilla */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lacquer&display=swap');
@font-face {
    font-family: 'trashhandregular';
    src: url('fonts/TrashHand-webfont.woff');
    font-weight: normal;
    font-style: normal;
}
/* CSS REST */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* ROOT VARIABLES */
:root {
    font-family: Inter, sans-serif;
    color: var(--burnt-brown);
    font-size: 1.25em;
    --flour-white: #FAF3E0;
    --wheat-flax:#E9E0D3;
    --crust-orange:#D2691E;
    --burnt-brown:#5A3E36;
}
/* LAYOUT STYLES */
html {
    background-color: var(--flour-white);
}
body {
    box-sizing: border-box;
}
#about-us, #testimonials {
    background-color: var(--wheat-flax);
}
header, #about-us, #menu, #special-orders, #testimonials, #visit-us, #follow-us {
    padding: 0 10rem;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: .5rem;
}
header img {
    grid-column: 1/-1;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
}
nav a, nav a:link, nav a:visited {
    text-decoration: none;
    color: var(--burnt-brown);
    font-weight: bold;
}
nav a.active, nav a:hover {
    color: var(--crust-orange);
    border-bottom: 2px solid var(--crust-orange);
}
main a:hover {
    background-color: var(--crust-orange);
}
#about-us, #special-orders {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#about-us img, #special-orders img {
    margin: 2rem 0;
}
#about-us div, #special-orders div {
    margin: 2rem 0;
    align-content: space-around;
    width: 90%;
}
#about-us a, #special-orders a {
    width: 50%;
}
#menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#menu h2, #testimonials h2 {
    grid-column: 1/-1;
    text-align: center;
}
#menu section {
    text-align: center;
}
#menu a {
    grid-column: 2/4;
}
#testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
}
footer {
    background-color: var(--burnt-brown);
    color: var(--flour-white);
    margin-top: 0;
    border-top: 1rem solid var(--burnt-brown);
    border-bottom: 3rem solid var(--burnt-brown);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#follow-us ul {
    display: flex;
}
#follow-us svg:hover {
    stroke: var(--crust-orange);
}
/* TEXT STYLES */
h1 {
    font-family: 'trashhandregular', serif;
    font-size: 1.6em;
}
h2 {
    font-family: 'trashhandregular', serif;
    font-size: 3.5em;
    margin: .5em 0;
}
h3 {
    margin: 1rem 0;
    font-size: 1em;
    font-weight: bold;
}
p, q {
    line-height: 1.5em;
    padding: .5rem;
}
q {
    font-style: italic;
}
main a {
    background-color: var(--burnt-brown);
    display: inline-block;
    padding: 1rem;
    border-radius: 2rem;
    color: var(--flour-white);
    font-family: 'trashhandregular', serif;
    text-decoration: none;
    text-align: center;
    font-size: 2em;
    margin: 1rem 0;
}
address {
    line-height: 2em;
}